version: '3'
services:
    redis:
        image: redis:4.0.11
        container_name: redis
        ports:
            - '6379:6379'
        volumes:
            - ~/.docker-volumes/qna/redis/data:/var/lib/redis/data

    db:
        image: postgres:10.5
        container_name: postgres
        environment:
          - POSTGRES_USER="{{ lookup('env', 'APP_DB_USERNAME') }}"
          - POSTGRES_PASSWORD="{{ lookup('env', 'APP_DB_PASSWORD') }}"
        ports:
            - '5432:5432'
        volumes:
            - ~/.docker-volumes/qna/postgresql/data:/var/lib/postgresql/data

    app:
        image: registry.gitlab.com/oozywaters/qna:latest
        environment:
            - APP_SECRET_KEY_BASE="{{ lookup('env', 'APP_SECRET_KEY_BASE') }}"
            - APP_DB_NAME="{{ lookup('env', 'APP_DB_NAME') }}"
            - APP_DB_USERNAME="{{ lookup('env', 'APP_DB_USERNAME') }}"
            - APP_DB_PASSWORD="{{ lookup('env', 'APP_DB_PASSWORD') }}"
        ports:
            - '80:80'
        links:
            - db
            - redis
        depends_on:
            - db
