development:
  vkontakte_app_id: 4965407
  vkontakte_app_secret: 6S8Uo7hIrxFMZwQC0t7I
  twitter_app_id: 7hQGZBs1yR67tHlvZEie96Yko
  twitter_app_secret: DxmmMpslAzaueKxcCy5YXX0HeI0xm7YeIW4HgHem6hCfMyZfj5

test:
  vkontakte_app_id: 5552379
  vkontakte_app_secret: xEa5kFiipM3IhUZEvr1X
  twitter_app_id: 4mPIliRb86leANp8uzoUWSYcu
  twitter_app_secret: g6zbrOVFmaUF4qRnUZmkQ1TDeXZDWxqpx5H0oEJX54zJ11YeVM
